<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/arbol.png')}}" />
    <!--Estilos-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}" />
    <!--Bootstrap JS-->
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <title>Techos verdes</title>
</head>

<body class="bg-secondary-subtle">
    <header>
        {% include 'navbar.html'%}
    </header>
    <main class="container">
        <h1 class="h1">Atribuciones de las imagenes</h1>
        <div class="card" style="width: 12rem;">
            <img src="{{url_for('static', filename='img/arbol.png')}}" alt="arbol.png" class="card-img-top"></img>
            <div class="card-body">
                <h5 class="card-title">Arbol</h5>
                <p class="card-text">Árbol iconos creados por Freepik - Flaticon</p>
                <a href="https://www.flaticon.es/iconos-gratis/arbol" title="árbol iconos"
                    class="btn btn-primary">Ir</a>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>