<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/arbol.png')}}"/>
    <title>Techos verdes</title>
</head>
<body>
    <h1>Atribuciones de las imagenes</h1>
    <a href="https://www.flaticon.es/iconos-gratis/arbol" title="árbol iconos">
        Árbol iconos creados por Freepik - Flaticon
        <img src="{{url_for('static', filename='img/arbol.png')}}"></img>
    </a>
</body>
</html>