<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/arbol.png')}}" />
    <!--Para usar la libreria 'letleaf'-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!--Estilos-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/map.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}" />
    <!--Bootstrap JS-->
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <title>Resgistro techos verdes</title>
</head>

<body class="bg-secondary-subtle">
    <header>
        {% include 'navbar.html'%}
    </header>
    <br>
    <main class="container">
        <h1 class="h1">Registro de techos verdes en la CDMX</h1>
        <form id="registro" class="row g-2">
            <!-- CORREO ELECTRONICO-->
            <div class="col-md-6">
                <label for="correo-contacto" class="form-label">Correo de contacto</label>
                <input id="correo-contacto" name="correo-contacto" type="email" placeholder="correo@ejemplo.com"
                    required class="form-control"></input>
            </div>

            <!--TIPO DE TECHO VERDE-->
            <div class="col-md-6">
                <label for="tipo-techo" class="form-label">Tipo de techo verde</label>
                <select id="tipo-techo" name="tipo-techo" required class="form-select">
                    <option value="extensivo" default>Extensivo (de 110 hasta 200kg/m2)</option>
                    <option value="semi-intensivo">Semi-intensivo (mayor a 200 y hasta 350 kg/m2)</option>
                    <option value="intensivo">Intensivo (mayor a 350 kg/m2)</option>
                </select>
            </div>

            <!--TIPO DE VEGETACION-->
            <div class="col-md-6">
                <label for="vegetacion" class="form-label">Vegetacion</label>
                <input id="vegetacion" name="vegetacion" type="text" placeholder="De desierto, de bosque, etc" required
                    class="form-control"></input>
            </div>

            <!--SUPERFICIE DEL TECHO VERDE-->
            <div class="col-md-6">
                <label for="superficie" class="form-label">Superficie del techo en m2</label>
                <input id="superficie" name="superficie" type="number" value="1" min="1" max="10000" required
                    class="form-control"></input>
            </div>

            <!--TIPO DE INMUEBLE-->
            <div class="col-md-6">
                <label for="tipo-inmueble" class="form-label">Tipo de inmueble</label>
                <select id="tipo-inmueble" name="tipo-inmueble" required class="form-select">
                    <option value="casa-habitacion" default>Casa habitacion</option>
                    <option value="edificio-de-departamentos">Edificio de departamentos</option>
                    <option value="local-comercial">Local comercial</option>
                    <option value="oficinas privadas">Oficinas privadas</option>
                </select>
            </div>

            <!--NUMERO DE PISOS DEL INMUEBLE-->
            <div class="col-md-6">
                <label for="numero-pisos" class="form-label">Numero de pisos del inmueble</label>
                <input id="numero-pisos" name="numero-pisos" type="number" value="0" min="0" max="1000" required
                    class="form-control"></input>
            </div>

            <!--UBICADO EN EL ULTIMO PISO?-->
            <div class="col-md-6">
                <label class="form-label">¿Esta ubicado en el ultimo piso?</label>
                <div class="form-check">
                    <input id="ubicacion-ultimo-piso-si" name="ubicacion-ultimo-piso" type="radio" value="si"
                        class="form-check-input"></input>
                    <label for="ubicacion-ultimo-piso-si" class="form-check-label">Si</label>
                </div>
                <div class="form-check">
                    <input id="ubicacion-ultimo-piso-no" name="ubicacion-ultimo-piso" type="radio" value="no"
                        class="form-check-input"></input>
                    <label for="ubicacion-ultimo-piso-no" class="form-check-label">No</label>
                </div>
                <div class="mb-3">
                    <label for="otro-piso" class="form-label">Indica el piso</label>
                    <input id="otro-piso" name="otro-piso" type="number" value="0" min="0" max="1000"
                        class="form-control"></input>
                </div>
            </div>

            <!--¿SOLICITASTE EL BENEFICIO FISCAL?-->
            <div class="col-md-6">
                <label class="form-label">¿Solicitaste el beneficio fiscal del 10% en la reducción del impuesto
                    predial?</label>
                <div class="form-check">
                    <input id="beneficio-fiscal-si" name="beneficio-fiscal" type="radio" value="si" checked required
                        class="form-check-input"></input>
                    <label for="beneficio-fiscal-si" class="form-check-label">Si</label>
                </div>
                <div class="form-check">
                    <input id="beneficio-fiscal-no" name="beneficio-fiscal" type="radio" value="no"
                        class="form-check-input"></input>
                    <label for="beneficio-fiscal-no" class="form-check-label">No</label>
                </div>
                <div class="form-check">
                    <input id="beneficio-fiscal-no-sabia" name="beneficio-fiscal" type="radio" value="no-sabia"
                        class="form-check-input"></input>
                    <label for="beneficio-fiscal-no-sabia" class="form-check-label">No sabia que existia</label>
                </div>
            </div>

            <!--¿COMO INSTALASTE EL TECHO VERDE?-->
            <div class="col-md-6">
                <label class="form-label">¿Cómo instalaste el techo verde?</label>
                <div class="form-check">
                    <input id="instalacion-empresa" name="instalacion" type="radio" value="empresa" checked required
                        class="form-check-input"></input>
                    <label for="instalacion-empresa" class="form-check-label">Contrate una empresa</label>
                </div>
                <div class="form-check">
                    <input id="instalacion-propia" name="instalacion" type="radio" value="propia"
                        class="form-check-input"></input>
                    <label for="instalacion-propia" class="form-check-label">Lo instale yo solo</label>
                </div>
                <div class="mb-3">
                    <label for="empresa-instaladora" class="form-label">Indica el nombre de la empresa que se
                        contrato</label>
                    <input id="empresa-instaladora" name="empresa-instaladora" type="text"
                        placeholder="Nombre de la empresa" class="form-control"></input>
                </div>
            </div>

            <!--INGRESA TUS IMAGENES-->
            <div class="col-md-6">
                <label for="imagenes" class="form-label">Ingresa tus imagenes (hasta 10 de maximo 5MB)</label>
                <input id="imagenes" name="imagenes" type="file" accept="image/png, image/jpeg" size="5000000"
                    class="form-control"></input>
            </div>

            <!--UBICACION DEL INMUEBLE-->
            <label class="form-label">Ubicacion del inmueble</label>
            <!-- <div class="col-md-3">
                <label for="pais" class="form-label">Pais</label>
                <input id="pais" name="pais" type="text" required class="form-control"></input>
            </div>
            <div class="col-md-3">
                <label for="estado" class="form-label">Estado</label>
                <input id="estado" name="estado" type="text" required class="form-control"></input>
            </div>
            <div class="col-md-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input id="ciudad" name="ciudad" type="text" required class="form-control"></input>
            </div>
            <div class="col-md-3">
                <label for="calle" class="form-label">Calle</label>
                <input id="calle" name="calle" type="text" required class="form-control"></input>
            </div>
            <div class="col-md-3">
                <label for="codigo-postal" class="form-label">Codigo postal</label>
                <input id="codigo-postal" name="codigo-postal" type="text" required class="form-control"></input>
            </div> -->

            <div class="d-flex">
                <input id="ubicacion" name="ubicacion" class="form-control me-2" type="search"
                    placeholder="Calle 123 Col. Colonia CDMX Mexico" aria-label="Search">
                <button class="btn btn-outline-dark" type="button">Buscar</button>
            </div>
        </form>
        <br>
        <!--MAPA-->
        <div id="map"></div>

    </main>
    <footer></footer>
    <!--MAPA JS-->
    <script src="{{url_for('static', filename='scripts/map.js')}}"></script>
</body>

</html>