<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/arbol.png')}}" />
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}" />
    <!--Bootstrap JS-->
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <!--Estilos propios-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/map.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
    <title>Resgistro techos verdes</title>
</head>

<body class="bg-secondary-subtle">
    <header>
        {% include 'navbar.html'%}
    </header>
    <br>
    <main class="container">
        <div class="text-center">
            <h1 class="h1">Resgistros recibidos</h1>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha (CDMX)</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Ver</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for resp in respuestas %}
                {% if resp.aprobado %}
                <tr class="table-success">
                    {% else %}
                <tr class="table-light">
                    {% endif %}
                    <th scope="row">{{ resp.id }}</th>
                    <td>{{ resp.fecha_creacion|fecha_local_CDMX }}</td>
                    <td><a href="{{ resp.datos['link_ubicacion'] }}" target="_blank" rel="noopener noreferrer">{{
                            resp.datos['link_ubicacion'] }}</a></td>
                    <td><button type="button" class="btn"><a href="/admin/respuestas/{{ resp.id }}"><img
                                    src="{{url_for('static', filename='img/ver-detalles.png')}}"
                                    alt="Detalles"></a></button></td>
                    <td><button id="borrar_respuesta" type="button" class="btn" data-respuesta="{{resp.id}}" data><img
                                src="{{url_for('static', filename='img/borrar.png')}}" alt="Borrar"></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer class="container">
        {% include 'footer.html'%}
    </footer>
    <script src="{{url_for('static', filename='scripts/axios.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/borrar.js')}}"></script>
</body>

</html>