<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/arbol.png')}}" />
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css')}}" />
    <!--Bootstrap JS-->
    <script src="{{url_for('static', filename='scripts/bootstrap.min.js')}}"></script>
    <!--Estilos propios-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/map.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}" />
    <!--Leatleaf JS-->
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}" />
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <title>Resgistro techos verdes</title>
</head>

<body class="bg-success bg-opacity-50">
    <header>
        {% include 'navbar.html'%}
    </header>
    <br>
    <main class="container">
        <div class="text-center">
            <h1 class="h1">Respuesta #{{ respuesta.id }}</h1>
            <h4 class="h4">Fecha: {{ respuesta.fecha_creacion|fecha_local_CDMX }} CDMX</h4>
        </div>
        <br>
        <div id="carouselExample" class="carousel slide" data-bs-theme="dark">
            <div class="carousel-inner">
                {% for imagen in respuesta.imagenes %}
                {% if loop.index == 1 %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <img src="data:image/{{ imagen.nombre|extension }};base64,{{ imagen.imagen|imagen_base64 }}"
                        class="d-block w-100" alt="{{ imagen.nombre }}">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <table class="table">

            <thead>
                {% if respuesta.aprobado %}
                <tr class="table-success text-center">
                    <th colspan="2">Aprobado</th>
                </tr>
                {% else %}
                <tr class="table-warning text-center">
                    <th colspan="2">En revision</th>
                </tr>
                {% endif %}
                <tr>
                    <th scope="col">Campo</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Correo de contacto</td>
                    <td>{{ respuesta.datos['correo_contacto'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Tipo de techo</td>
                    <td>{{ respuesta.datos['tipo_techo'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Vegetacion</td>
                    <td>{{ respuesta.datos['vegetacion'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Superficie en m2</td>
                    <td>{{ respuesta.datos['superficie'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Tipo de inmueble</td>
                    <td>{{ respuesta.datos['tipo_inmueble'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Numero de pisos del inmueble</td>
                    <td>{{ respuesta.datos['numero_pisos'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Techo verde en el ultimo piso</td>
                    <td>{{ respuesta.datos['ubicacion_ultimo_piso'] }}</td>
                </tr>
                {% if respuesta.datos['ubicacion_ultimo_piso'] == 'no' %}
                <tr>
                    <td scope="row">Piso del techo verde</td>
                    <td>{{ respuesta.datos['otro_piso'] }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td scope="row">Solicito beneficio fiscal</td>
                    <td>{{ respuesta.datos['beneficio_fiscal'] }}</td>
                </tr>
                <tr>
                    <td scope="row">Instalacion</td>
                    <td>{{ respuesta.datos['instalacion'] }}</td>
                </tr>
                {% if respuesta.datos['instalacion'] == 'empresa' %}
                <tr>
                    <td scope="row">Empresa instaladora</td>
                    <td>{{ respuesta.datos['empresa_instaladora'] }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td scope="row">Link de la ubicacion</td>
                    <td><a href="{{ respuesta.datos['link_ubicacion'] }}" target="_blank" rel="noopener noreferrer">{{
                            respuesta.datos['link_ubicacion'] }}</a></td>
                </tr>
            </tbody>
        </table>
        <br>
        <form id="actualizar" action="/admin/respuestas/{{ respuesta.id }}" method="POST" class="row g-3">
            <!--NOMBRE DEL ESTABLECIMIENTO-->
            <div class="col-md-3">
                <label for="nombre_establecimiento" class="form-label">Nombre del establecimiento</label>
                {% if respuesta.nombre_establecimiento != None %}
                <input id="nombre_establecimiento" name="nombre_establecimiento" type="text" placeholder="Ejemplo: Palacio de Bellas Artes" value="{{ respuesta.nombre_establecimiento }}" required
                    class="form-control"></input>
                {% else %}
                <input id="nombre_establecimiento" name="nombre_establecimiento" type="text" placeholder="Ejemplo: Palacio de Bellas Artes" required
                    class="form-control"></input>
                {% endif %}
            </div>
            <!--COORDENADAS-->
            <div class="col-md-3">
                <label for="latitud" class="form-label">Latitud</label>
                {% if respuesta.latitud != None %}
                <input id="latitud" name="latitud" type="number" placeholder="Ejemplo: 12.34372" step="0.00001" required
                    min="-180.000" max="180.000" value="{{ respuesta.latitud }}" class="form-control"></input>
                {% else %}
                <input id="latitud" name="latitud" type="number" placeholder="Ejemplo: 12.34372" step="0.00001" required
                    min="-180.000" max="180.000" class="form-control"></input>
                {% endif %}
            </div>
            <div class="col-md-3">
                <label for="longitud" class="form-label">Longitud</label>
                {% if respuesta.longitud != None %}
                <input id="longitud" name="longitud" type="number" placeholder="Ejemplo: -82.34372" step="0.00000000000001" required
                    min="-180.000" max="180.000" value="{{ respuesta.longitud }}" class="form-control"></input>
                {% else %}
                <input id="longitud" name="longitud" type="number" placeholder="Ejemplo: -82.34372" step="0.00000000000001" required
                    min="-180.000" max="180.000" class="form-control"></input>
                {% endif %}
            </div>
            <!--APROBAR/DESAPROBAR-->
            <div class="col-md-3">
                <label class="form-check-label">Aprobado</label>
                <div class="form-check form-switch">
                {% if respuesta.aprobado %}
                <input name="aprobado" type="checkbox" value="si" role="switch" class="form-check-input" checked></input>
                {% else %}
                <input name="aprobado" type="checkbox" value="si" role="switch" class="form-check-input"></input>
                {% endif %}
                </div>
            </div>
        </form>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
                <button id="enviar_formulario" type="button" class="btn btn-primary">Actualizar</button>
                <button id="borrar_respuesta" type="button" data-respuesta="{{respuesta.id}}" class="btn btn-danger">Borrar</button>
        </div>
        <br>
        <div id="map" class="map invisible">
        </div>
    </main>
    <footer class="container">
        {% include 'footer.html'%}
    </footer>
    <script src="{{url_for('static', filename='scripts/axios.min.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/actualizar_respuesta.js')}}"></script>
</body>

</html>